html {
    scroll-behavior: smooth;
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

header {
    width: 100%;
    height: max-content;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.headerTop {
    width: auto;
    height: 3vw;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigationMenu {
    position: fixed;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navigationMenu ul {
    width: 100%;
    padding-left: 0px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationMenu.scrolled {
    top: 0.02vw;
    background-color: #FFFFFF;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.navigationElement {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: max-content;
    height: max-content;
    list-style: none;
    margin-left: 2vw;
    transition: all 0.2s ease-in-out;
    transition: transform 0.5s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.navigationElement:hover {
    transform: scale(1.2);
}

.navigationElement1 {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: max-content;
    height: max-content;
    list-style: none;
    margin-bottom: 0.1vw;
    margin-left: 2vw;
    transition: transform 1s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.navigationElement1:hover {
    transform: scale(1.1);
}

.navigationElement2 {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: max-content;
    height: max-content;
    list-style: none;
    margin-bottom: 0.1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: transform 1s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.navigationElement2:hover {
    transform: scale(1.1);
}

.headerBottom {
    width: auto;
    height: auto;
    background: linear-gradient(180deg, #02AAB0 0%, rgba(1, 181, 175, 0.68) 59.9%, rgba(0, 205, 172, 0.00) 100%);
}

.title {
    padding-top: 80px;
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    justify-content: center;
    position: relative;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 60px;
    font-weight: 600;
    user-select: none;
}

.textTitle {
    padding-top: 10px;
    padding-bottom: 8vw;
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;  
    color: rgba(255, 255, 255, 0.50);
    font-size: 34px;
    font-weight: 600;
    justify-content: center;
    user-select: none;
}

.aboutCompany {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.aboutCompanyDesc {
    margin-left: 15px;
    display: flex;
    color: #000;
    font-size: 26px;;
    font-weight: 300;
    letter-spacing: 0.96px;
}

.projectsBoxTop {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.projectText {
    display: flex;
    justify-content: center;
    margin-top: 6vw;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.house1img {
    width: 492px;
    height: 300px;
    background-image: url(images/house1.png);
    transition: transform 1s ease;
}

.house1img:hover {
    transform: scale(1.1);
}

.house2img {
    width: 492px;
    height: 300px;
    background-image: url(images/house2.png);
    transition: transform 1s ease;
}

.house2img:hover {
    transform: scale(1.1);
}

.projectsBoxBottom {
    margin-top: 90px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.house3img {
    width: 492px;
    height: 300px;
    background-image: url(images/house3.png);
    transition: transform 1s ease;
}

.house3img:hover {
    transform: scale(1.1);
}

.house4img {
    width: 492px;
    height: 300px;
    background-image: url(images/house4.png);
    transition: transform 1s ease;
}

.house4img:hover {
    transform: scale(1.1);
}

.reviewsTitle {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.reviewsBox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.review1 {
    margin-left: 30px;
    color: #000;
    font-size: 24px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}

.review2 {
    color: #000;
    font-size: 24px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}

.review3 {
    margin-left: 20px;
    color: #000;
    font-size: 24px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}


.reviewsAuthors {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.author1 {
    margin-left: 27.8vw;
    color: #000;
    font-size: 20px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}

.author2 {
    margin-left: 5vw;
    color: #000;
    font-size: 20px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}

.author3 {
    margin-right: 4vw;
    color: #000;
    font-size: 20px;
    font-style: oblique;
    font-weight: 300;
    line-height: normal;
}

.orderTitle {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.inputName {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputwindow {
    width: 20vw;
    border-color: #FFF;
    border-style: hidden;
    background-color: #9E9E9E;
}

.inputSurname {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputPhone {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputemail {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputType {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputFloors {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputSquare {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.inputBudget {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

.button {
    font-family: Montserrat;
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 24px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 20px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
}

.button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
}

.button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.ordersBox {
    display: flex;
    justify-content: space-evenly;
}

.orderBox {
    position: relative;
}

footer {
    margin-top: 10vw;
    width: 100%;
}

.blackBox {
    width: auto;
    height: 10vw;
    background-color: #000;
}

.buttonBox {
    margin-top: 7vw;
    display: flex;
    justify-content: center;
}

.messageBox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.successMessage {
    font-size: 24px;
}

.errorMessage {
    font-size: 24px;
}